<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661700431102-4pin47osu525dabs0piovafr781pirqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661700431102-4pin47osu525dabs0piovafr781pirqe</string>
	<key>API_KEY</key>
	<string>AIzaSyAtAwh9zrsGxyRKhvFSVUB9e9XicPFTPxA</string>
	<key>GCM_SENDER_ID</key>
	<string>661700431102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickMeet</string>
	<key>PROJECT_ID</key>
	<string>quick-meet-476fa</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-meet-476fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661700431102:ios:4e2471093cbe65ed7629af</string>
</dict>
</plist>